<form method="post" action="{{ path('reclamation_etatdonAction', {'id': reclamation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('etatdonAction' ~ reclamation.id) }}">
    <button class="btn">Done</button>
</form>
