<form method="post" action="{{ path('reclamation_etatrejAction', {'id': reclamation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('etatrejAction' ~ reclamation.id) }}">
    <button class="btn">Refuser</button>
</form>
